<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>Food and Diet</title>
<link href="images/basic.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id= "container">
	<div id="header" style=" text-align:cen1ter; overflow:hidden; height:245px; float:none; ">
		<img src="images/food.jpg" alt="icon" height="200"  />
		<img src="images/healthyliving.jpg" alt="icon" height="200" />
	</div>
    <div id="introduction" style="margin-left:16px; font-size:26px; font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; color:#900; ">
    		<p>Our website provides recipe searching based on the pictures of various food users upload.</p>
	</div>
    
    <div id="picture" style="text-align:center; margin-top:18pt">
    	<img src="images/variousfood.jpg" alt="variousfood" height="300" />
        </div>

    <div id="search_box" style="text-align:center; height:245px; margin-top:30pt " >
    		<p style="font-size:18px; font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; color:#300; margin-bottom:16pt">Please input the hyperlink of your food picture :D</p>
		<form action="/yoda" >
			<div class="form-group" style="width:100pt; height:30pt; margin-left:350pt; margin-bottom:10pt">
				<textarea name="sentence" class="form-control" style="width:260pt; height:30pt"></textarea>
			</div>
			<input type="submit" class="btn btn-default" />
		</form>
		</div>
</body>
</html>